

/** fraction-slider **/
  
.slider-wrapper{
  position:relative; 
  overflow:hidden;  
  max-height: 550px;text-align:center;
}
 

.fr-slider { 
  overflow: visible; 
  position: relative;
  width: 100%;
/*  height:400px; when responsive, comment this out */
  margin:0 auto;
}
.fraction-slider{ 
  width:100%;
  height:100%;
  overflow:visible;
}


.fraction-slider .slide{
  display:none; 
  width:100%; 
  height:100%;
  position:absolute;
  z-index:100;
  margin: 0;
  padding: 0; 
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.fraction-slider .slide-bg {   
  background-color: #fff;
  height:auto !important;
  
}

 .fraction-slider .caption  {
  text-align: left;
 }
  .fraction-slider .caption  img {
  width: 100% !important;
  height: auto !important;
 }
.fraction-slider .fs_obj{
  display:block; display:none;
  position:absolute;
  top:0px; left:100%;
  z-index:7000;
}

.fraction-slider .fs_fixed_obj{
  z-index:6000;
  left:0;
}

.fraction-slider .fs_obj *{
  display:inline-block;
  position:relative;
  top:0px; left:0px;
}
 
.slider .slide{
  display:none; 
}
.fr-slider .fs_loader {
  width: 100%;
  height:550px;
  background: url(../images/loading.gif) center center no-repeat #fff;
  z-index: 9999;
  overflow: hidden;
}

/** CONTROLS **/


.fraction-slider .prev,
.fraction-slider .next { 
  width:62px;
  height:62px;
  line-height:66px;
  text-align:center;
  background-color: #fff; 
  position: absolute;
  top: 43%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  opacity:0;
  font-size:36px;
  font-weight:bold;
  color: rgba(0, 0, 0, 0.72);
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: all .2s cubic-bezier(0.25,.46,.45,.94);
  -moz-transition: all .2s cubic-bezier(0.25,.46,.45,.94);
  transition: all .2s cubic-bezier(0.25,.46,.45,.94);
}

.fraction-slider .prev:before,
.fraction-slider .next:before {
content: '\f105';
}
.fraction-slider:hover .prev, .fraction-slider:hover .next {
  opacity: 0.2;
}
.direction-nav .aya-next:hover, .direction-nav .aya-prev:hover {
  opacity: 0.8 !important;
}
.fraction-slider .prev {
  left:2%;
  padding-right:5px;
}
.fraction-slider .next {
  right:2%;
  padding-left:5px;
} 
.fraction-slider:hover .prev,
.fraction-slider:hover .next{
  display:block;
}

.fs-pager-wrapper {
position: absolute;
right:10px;
bottom: 40px;
z-index: 9999;
}

.fs-pager-wrapper a, .fs-custom-pager-wrapper a {
display: inline-block;
margin: 0 5px 0 0;
cursor: pointer;
position: relative;
border: 3px solid rgba(255, 255, 255, .6);
width: 20px;
height: 20px;
float: left;
border-radius: 50%;
}

.fs-pager-wrapper a:hover, .fs-custom-pager-wrapper a:hover {  
background:  rgba(255, 255, 255, .6); 
}

.fs-pager-wrapper .active, .fs-custom-pager-wrapper .active {
background: #FFF;
border-color: #FFF;
}